<h2><%= @task.name %></h2>
<p><%= @task.details %></p>
<%#
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<hr>
<%= link_to "Edit", edit_task_path(@task)%>
<%= link_to "Go back", tasks_path%>
